<a href="https://colab.research.google.com/github/aderibigbeolamide/MyFirstProject/blob/main/%F0%9F%93%8A_Python_for_AI_Week_3_Day_3_Pandas_for_Tabular_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome!
Today, we’ll learn how to use Pandas — Python’s most popular library for working with tables, spreadsheets, and real-world datasets.

Think of Pandas as “Excel on steroids,” built for Python + AI/ML workflows.

Import Pandas

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

Load a Sample Dataset

In [ ]:
import numpy as np
import pandas as pd

data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
import pandas as pd

ser = pd.Series([1, 2, 3, 4])
ser = ser.astype(bool)
print(ser)

0    1.0+0.0j
1    2.0+0.0j
2    3.0+0.0j
3    4.0+0.0j
dtype: complex128

In [ ]:
import pandas as pd
import numpy as np

# data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
data = np.array([1, 2, 3, 4, 5])
ser = pd.Series(data)

print(ser)
print(ser.loc[1:5])

0    1
1    2
2    3
3    4
4    5
dtype: int64
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data,index=[-9,11,12,13,14,15,16,17,18,19,20,21,22])

print(ser)
print(ser[-9])

-9     g
 11    e
 12    e
 13    k
 14    s
 15    f
 16    o
 17    r
 18    g
 19    e
 20    e
 21    k
 22    s
dtype: object
g

In [ ]:
# Load a built-in dataset from seaborn
import seaborn as sns
tips = sns.load_dataset("tips")

# Display the first 5 rows
tips.head()

Exploring the Dataset

In [ ]:
tips.info()          # Data types & nulls
tips.describe()      # Summary statistics
tips.columns         # Column names
tips.shape           # Rows x Columns

✏️ Your Turn: Explore the tips dataset

In [ ]:
# Hint:
# Use .info(), .describe(), .columns, .shape

# Write your code here 👇

Selecting Columns and Rows

In [ ]:
# Select a column
tips['total_bill']

# Select multiple columns
tips[['total_bill', 'tip']]

# Select rows using iloc (by index)
tips.iloc[0:5]

# Select rows using condition
tips[tips['sex'] == 'Female']

🧪 Your Turn: Filter and View Data
Select all rows where tip > 5

Select only 'sex' and 'tip' columns

Display first 10 results

In [ ]:
# Hint:
# Use tips[tips['tip'] > 5][['sex', 'tip']].head(10)

# Write your code here 👇

🔄 5. Sorting and Aggregating
python
Copy
Edit

In [ ]:
# Sort by tip (descending)
tips.sort_values('tip', ascending=False)

# Average tip by gender
tips.groupby('sex')['tip'].mean()

# Count of smokers by day
tips.groupby('day')['smoker'].value_counts()

✨ Your Turn: Analyze the Data
Find the average total bill by day

Count how many customers were male vs female

Sort the dataset by size (descending)

In [ ]:
# Hint:
# Use groupby + mean/count, sort_values

# Write your code here 👇

🧹 6. Cleaning and Handling Missing Data
python
Copy
Edit

In [ ]:
# Check for missing values
tips.isnull().sum()

# Drop missing rows
tips.dropna()

# Fill missing values
tips.fillna(0)

✅ In real-world datasets, handling missing data is crucial before ML.

🧪 Your Turn: Simulate and Clean Missing Data
Manually add a missing value

Use .isnull().sum() to detect

Fill it with 0 or drop the row

In [ ]:
# Hint:
# Use tips.iloc[2, 2] = np.nan to simulate missing value

# Write your code here 👇

📝 Mini Assignment
Task: Analyze the tips dataset

Find the top 5 customers who gave the highest tip

Calculate the average tip by day

Display only the lunch-time female customers who tipped above 3

Create a new column tip_percent = tip / total_bill * 100

Sort by tip_percent descending

In [ ]:
# Hint:
# Use filtering, groupby, new column creation: tips['new_col'] = ...
# Start your code here 👇